<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    /*.box {*/
        /*width: 70px;*/
        /*height: 70px;*/
        /*background-color: red;*/
        /*color: white;*/
    /*}*/
    /*.rotate {*/
      /*transform: rotate(60deg);*/
    /*}*/
    /*.border-radio {*/
        /*height: 50px;*/
        /*width: 50px;*/
        /*border: 1px solid red;*/
        /*border-radius: 25px;*/
    /*}*/
    .box-shadow {
        box-shadow: 10px 10px 8px 5px #888888;
    }
</style>
<!--<div class="box">-->
    <!--first-box-->
<!--</div>-->

<!--<div class="box rotate">-->
    <!--second-box-->
<!--</div>-->
<!--<div class="border-radio"></div>-->
<div class="box-shadow"></div>

<script type="module">

</script>
</body>
</html>
