<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator函数语法</title>
</head>
<body>


<script>
    function* s_yield() {
        yield "sleep";
        yield "worker";
        return "ending"
    }
    let value=s_yield();
    console.log(value);
    let iteratorResult = value.next();
    let iteratorResult1 = value.next();
    let iteratorResult2 = value.next();
    console.log(iteratorResult);
    console.log(iteratorResult1);
    console.log(iteratorResult2);
    //yield 暂停表达式
    function* f() {
        console.log('执行了！')
    }

    var generator = f();
    generator.next();

    var arr = [1, [[2, 3], 4], [5, 6]];
    let flat=function* (a) {
      for(let i=0;i<a.length;i++){
          if(typeof a[i]!== "number"){
              yield* flat(a[i]);
          }else{
              yield a[i]
          }
      }
    }

    for(let a of flat(arr)){
        console.log(a)
    }

   function* demo() {
     yield 123
    }
    let t=demo();
    let a=t.next();
    console.log(a)
</script>
</body>
</html>
